<template>

    <div class="container">
        <gmap-map
            :center="center"
            :zoom="5"
            style="width:100%;  height: 80vh;">
            <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen"
                              @closeclick="infoWinOpen=false">
            </gmap-info-window>
            <gmap-marker v-for="(mrk, i) in markers" :key="mrk.lat"
                         :clickable="true" @click="toggleInfoWindow(mrk,i)"
                         :position="mrk"></gmap-marker>
        </gmap-map>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data: function () {
            return {
                center: {lat: 38.90586173726549, lng: -77.04821693948932},
                markers: [],
                infoWindowPos: null,
                infoWinOpen: false,
                currentMidx: null,
                infoOptions: {
                    content: '',
                    //optional: offset infowindow so it visually sits nicely on top of our marker
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
            }
        },
        methods: {
            loadData() {
                axios.get("/api/weather-locations").then((result) => {
                    this.markers = result.data;
                })
            },
            toggleInfoWindow: function (marker, idx) {
                this.infoWindowPos = {lat: marker.lat, lng: marker.lng};
                this.infoOptions.content = marker.name + ', humedad de ' + marker.weather.current_observation.atmosphere.humidity;

                //check if its the same marker that was selected if yes toggle
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;

                }
            }
        },
        mounted() {
            this.loadData();
        }
    }
</script>
